@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
  position: relative;
}

a {
  color: #6c757d;
  text-decoration: none;
}

.nav {
  z-index: 9;
}

.banner {
  background-image: url(../assets/apparel.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.more img {
  width: 64px;
  height: 64px;
}

.top-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.cards {
  margin-top: 100px;
}

.card h5 {
  text-align: center;
}